<p>Thanks for taking the time to fill this in</p>
<form [formGroup]="contactForm" fxLayout="column" (submit)="submit()">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
        Please enter your name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
        Please enter your email
      </mat-error>
      <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" fxFlex="100%">
    <mat-label>Comments</mat-label>
    <textarea
      #message
      matInput
      [maxlength]="commentLength"
      formControlName="comments"
    ></textarea>
    <mat-hint align="end"
      >{{ message.value.length }}/{{ commentLength }}</mat-hint
    >
    <mat-hint align="start">Tell us whats up!</mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary">{{ submitButtonText }}</button>
</form>
